:root {
--state: #434455;
--navy-blue: #2e2f42;
--cornflower: #E7E9FC;
--iris: #4D5AE5;
--ocean: #404BBF;
--cloud: #F4F4FD;
--white: #ffffff;
--light-slate: #8e8f99;

}

p,h1,h2,h3,h4,h5,h6 {
    padding: 0%;
    margin: 0%;
}

li {
    margin: 0%;
    padding-left: 0%;
}

img {
    display: block;
}

body{font-family: "Roboto", sans-serif;
    color: var(--state);
    background-color: var(--white);
}

.container {
    outline: 2px solid red;
    outline-offset: -2px;
    max-width: 396px;
    min-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
.container {
max-width: 768px;
}
}

@media screen and (min-width: 1158px) {
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;}
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px 
    rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {list-style: none;
padding: 0;
margin: 0;}

.link {text-decoration: none;}
 

.address {
       margin-left: auto;}
    .item {}

.nav-header {
    display: flex;
    align-items: center;}

.header-link {
    display: flex;
    gap: 40px;}

    
.address-list {
    display: flex;
        gap: 40px;}

.logo-link-header {
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    margin-right: 76px;
 
}


.logo-link.link {

    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    margin-right: 76px;
    margin-bottom: 16px;
}


        .logo-link.link:hover,
        .logo-link.link:focus, 
        .nav-list.link:hover,
        .nav-list.link:focus,
        .contact-link.link:hover,
        .contact-link.link:focus
        {color: #404bbf;}



.logo-accent {color:#2e2f42}



.nav-list{
    
    padding: 24px 0;
    color: var(--navyblue, #2E2F42);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)}

    .current {
        color: #404bbf;
        position: relative;     
    }
    .current::after {
        width: 100%;
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        transition: border-radius 2px;}


    .contact-link {
    color: var(--slate, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }



.section-one {
    max-width: 100%;
    padding: 188px 0;
    text-align: center;
    background: var(--navyblue, #2E2F42);}

    .hero {
        
    background-size: cover;
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);}

.section-one-text {
    max-width: 496px;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;}

.section-one-button {
    border-radius: 4px;
    border: none;
    height: 56px;
    min-width: 169px;
    display: block;
    background-color: var(--iris);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-one-button:hover {
        background-color: var(--ocean);
    }
.section-one-button:focus {
        background-color: var(--ocean);
    }
.section-two {
padding: 96px 16px;
        }

@media screen and (min-width: 1158px) {
.section-two {
padding: 120px 0;
}}

 .logo-icon {
     display: flex;
     justify-content: center;
     align-items: center;
 }



 .logo-icon-wrapper {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 264px;
     height: 112px;
     margin-bottom: 8px;
     flex-shrink: 0;
     border-radius: 4px;
     background: var(--cloud, #F4F4FD);
 }
 @media screen and (max-width: 1158px) {
    .logo-icon-wrapper {
        display: none;
    }
 }
 /* <svg class="" width="" height="">
 <use href="/images/icons.svg#"></use>
 </svg> */


.section-two-title,
.titie-p {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--navy-blue);
        }
.section-two-text {
line-height: 1.5;
letter-spacing: 0.02em;
}

.section-two-title {
    margin-bottom: 8px;
}

@media screen and (max-width: 767.98px) {
.section-two-list-element:not(:last-child) {
    margin-bottom: 72px;
}
}

@media screen  and (min-width: 768px) {
.section-two-list {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 72px; }

.section-two-list-element{
width: calc((100% - 72px) / 2);
}}


@media screen  and (min-width: 1158px) { 

.section-two-list {
display: flex;
gap: 24px;}

.section-two-list-element{
width: calc((100% - 72px) / 4);
}}



    .section-three-title,
    .section-four-title,
    .section-five-title {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        color: var(--navy-blue);
        letter-spacing: 0.02em;
    }

    .section-three {
    padding-bottom: 120px;
    }

@media screen and (max-width: 1158px) {
.section-three {
display: none;
        }
     }

.section-three-title {
margin-bottom: 72px;
    }
.section-three-list {
display: flex;
gap: 24px;
    }

    /* section four */

.section-four {
padding: 120px 0;
background-color: #F4F4FD;
    }

.section-four-list {
display: flex;
gap: 24px;
border-radius: 0px 0px 4px 4px;
}

.section-four-item
{border-radius: 0px 0px 4px 4px;
 background-color: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);}

.section-four-item:first-child {
    width: calc((100% - 72px) / 4);}

.section-four-item:last-child {
margin-right: 0;
}

.section-four-title-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-align: center;
    margin-bottom: 8px;

}

.woker-name {
    padding: 32px 0;
}

.section-four-title {
    margin-bottom: 72px;
}
    .section-four-text {
        text-align: center;
        
    }

    .section-four-text,
    .text-p
     {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--state);
    }

    .socials {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    .socials-item {
        width: 40px;
        height: 40px;
        
    }

    .socials-logo-link {
        width: 100%;
        height: 100%;
        background-color: var(--iris);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
 .socials-logo-link:hover,
 .socials-logo-link:focus {
    background-color: #404bbf;
 }

 .svg-logo {
   fill: #f4f4fd;
 }

/* section-five */

.section-five {
padding-left: 16px;
padding-right: 16px;
padding-top: 96px;
padding-bottom: 96px;}

@media screen and (min-width: 768px) {
.section-five {
padding-left: 108px; 
padding-right: 108px;}
}

@media screen and (min-width: 1158px) {
    
.section-five {
    padding-top: 120px;
    padding-bottom: 120px;
}}

.section-five-title {
    font-size: 36px;
    line-height: 1.11;
    color: var(--navy-blue);
    margin-bottom: 72px;
}

.sectiom-five-list {
display: flex;
justify-content: center;
flex-wrap: wrap;
row-gap: 72px;
column-gap: 16px;
}

.sectiom-five-list-item {
display: flex;
width: calc((100% - 16px) / 2);
height: 88px;}


@media screen and (min-width: 768px) {
.sectiom-five-list {
display: flex;
column-gap: 24px;
}
  
.sectiom-five-list-item {
display: flex;
width: calc((100% - 48px) / 3);
     }}

@media screen and (min-width: 1158px) {
.sectiom-five-list {
display: flex;
justify-content: center;
gap: 24px;}

.sectiom-five-list-item {
display: flex;
width: calc((100% - 120px) / 6);
 }}

.section-five-logo {
width: 100%;
height: 100%;
border: 1px solid #8e8f99;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
color: var(--light-slate);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-five-logo:focus,
.svg-five-logo:hover {
    border-color: #404bbf;
    color: #404bbf; 
}


.svg-five-logo {
fill: currentColor;

}
    
    
    .section-five-logo:focus,
    .section-five-logo:hover {
        border-color: #404bbf;
        color: #404bbf; 
    }
.sectiom-five-list-item 
    



    .footer-div-logo {
    margin-right: 120px;
}
.socials-list-footer {
display: flex;
gap: 16px;
}

.socials-logo-link-footer {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-logo-link-footer:hover,
.socials-logo-link-footer:focus {
background-color: #31d0aa;}

    .logo-accent-dark {
        color: #f4f4fd; 
    }
    .footer-text {
        line-height: 1.5;
        color: var(--white);
        letter-spacing: 0.02em;
        max-width: 264px;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 16px;
    }
    .footer-div-logo {
        margin-right: 120px;}

    .footer {
        background-color: var(--navy-blue);
        padding: 100px 0;}
    .footer-div {
        display: flex;
        align-items: baseline;}

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .modal-inside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    }

    .modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 16px;
    }
 
.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}


.svg-close {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.modal-form-div {
    margin-bottom: 8px;
}
.modal-label {
    font-size: 12px; 
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    display: block;
    margin-bottom: 4px;
}
.modal-form-div-name {
    position: relative;
}
.modal-form-input-name {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input-name:focus {
    border-color: #4D5AE5
}    

.modal-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input-name:focus+.modal-svg {
    fill: #4D5AE5;
}


.modal-comment {
    margin-bottom: 16px;
}

.modal-div-checkbox {
    margin-bottom: 24px; 
}
.modal-label-checkbox {
display: block;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: var(--light-slate);

}

.modal-textarea {
width: 100%;
height: 120px;
font-size: 12px;
line-height: 1.17; 
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4); 
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding: 8px 16px;
outline: transparent;
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-span-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
}

/* input:checked + label > span */
.modal-checkbox:checked + .modal-label-checkbox > .modal-span-checkbox
{
    background-color: var(--ocean);
    border: none; 
    fill: var(--cloud);
}
.is-hidden {
opacity: 0;
visibility: hidden;
pointer-events: none;

    }
.modal-href {
color: var(--iris);
    }
.modal-button {
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}
    

    /* portfolio */

        .button-p {
            border-radius: 4px;
            border: 1px solid #e7e9fc;
            padding: 12px 24px;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: var(--iris);
            background-color: var(--cloud);
            cursor: pointer;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .button-p:hover,
        .button-p:focus {
            color: var(--white);
            background-color: var(--ocean);
            border: 1px solid transparent;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
             0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px
            rgba(0, 0, 0, 0.12);
        }
        .section-p {
            padding-top: 96px;
            padding-bottom: 120px;

        }
        .list-p {
            display: flex;
            justify-content: center;
            gap: 24px;
            margin-bottom: 72px;
        }

.app-link-p {
display: block;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}  

.app-link-p:hover,
.app-link-p:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px
    rgba(46, 47, 66, 0.08);}  

   .list-p-second {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       row-gap: 48px;
        column-gap: 24px;
        
   }
   .item-p {
    
    width: calc((100% - 48px) / 3);
    height: calc((100% - 24px) / 3);
   }

   .link-p {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
   
   }
    .titie-p {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px
           }

.app-link-p:hover .text-p-container,
.app-link-p:focus .text-p-container {
    transform: translateY(0%);}

.image-p-container {
    position: relative;
    overflow: hidden;}

 .text-p-container {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
 }
.footer-form-div {
    margin-left: 80px;


}

.footer-form-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.footer-form {
    display: flex;
    gap: 24px;
    
}
.footer-form-label {

}
.input-email {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    
}

placeholder 
{color #ffffff;}

.subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}
.subscribe-button-icon {
    margin-left: 16px;
}